<a href="https://colab.research.google.com/github/siusta/175IC-machine-learning/blob/main/zad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
import numpy as np
import pandas as pd

data = {
    'size':['S','M','S','L','M','L','XL','M','S','S','XL','L','L','XL','M','S'],
    'color':['green','black','red','purple','pink','orange','yellow','brown','white','cyan','lime','blue','green','black','red','purple'],
    'gender':['female','male','male','female','female','female','male','male','female','male','male','female','female','female','male','male'],
    'price':[119.0, 89.0, 84.0, 56.0, 112.0, 249.0, 29.99, 45.0, 99.0, 189.0, 39.90, 134.0, 56.0, 112.0,99.0, 189.0],
    'weight':[380.0, 410.0, 400.0, 550.0, 320.0, 333.0, 679.0, 410.0, 520.0, 290.0, 415.0, 470.0, 400.0, 550.0, 320.0, 333.0],
    'bought':['no', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'yes']
}
df_raw = pd.DataFrame(data=data)
df = df_raw.copy()

for col in['size', 'color', 'gender', 'bought']:
  df[col] = df[col].astype('category')

le = LabelEncoder()
df['bought'] = le.fit_transform(df['bought'])

df = pd.get_dummies(data=df,drop_first=True)

scaler = StandardScaler()
df[['price','weight']]=scaler.fit_transform(df[['price','weight']])

In [78]:
df

       price    weight  bought  ...  color_white  color_yellow  gender_male
0   0.246564 -0.490963       0  ...            0             0            0
1  -0.240850 -0.204502       1  ...            0             0            1
2  -0.322086 -0.299989       1  ...            0             0            1
3  -0.777005  1.132318       0  ...            0             0            0
4   0.132834 -1.063885       1  ...            0             0            0
5   2.358689 -0.939752       0  ...            0             0            0
6  -1.199592  2.364101       1  ...            0             1            1
7  -0.955723 -0.204502       0  ...            0             0            1
8  -0.078379  0.845856       1  ...            1             0            0
9   1.383862 -1.350347       0  ...            0             0            1
10 -1.038583 -0.156758       0  ...            0             0            1
11  0.490270  0.368421       1  ...            0             0            0

[12 rows x 18 columns]